$checkboxfield-checkbox-icon: dynamic($fi-var-check-more);
$checkboxfield-checked-checkbox-icon: dynamic($fi-var-check-more);
$checkboxfield-focused-checkbox-color: yellow;
$checkboxfield-checkbox-color: RED;